/* body{
    background: #eee;
}

form{
    max-width: 200px;
    margin: 40px auto;
    background: white;
    padding: 10px;
}

input{
    display: block;
    margin: 10px auto;
    padding: 4px;
}
.success{
    border:2px solid limegreen;
}
.fail{
    border: 2px solid red;
} */

body{
    background-color: black;
}

.clock{
    font-size: 4em;
    text-align: center;
    margin: 220px auto;
    color:blanchedalmond;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.clock span{
    padding:20px;
    background-color: chocolate;
}